body {
       background: linear-gradient(to left, #EBD6FB, #E2CFFF, #D6BFF7, #C9A8F2, #bd9ef2) ;
}

.navbar-brand{
    margin-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    filter: blur(0.85px);
}

.container-fluid .navbar-brand{
  margin-right:20%;
}


.navbar-nav {
    font-weight:600;
    display: flex;
    gap: 80px;
    margin-left: 20%;
}

.navbar-nav .nav-item .nav-link:hover{
    background-color: #EBD6FB;
    border-radius: 20px;
     color: black;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.navbar-brand:hover{
 transform: scale(1.3);
 transition: transform 0.2s;
 color: #fff !important;
 filter: blur(1px);
}


.container-fluid{
    background-color: rgba(84, 8, 99, 0.8);
    padding: 1.5%;
    margin-top :5%;
    position:fixed;
    opacity:90%;
}

.navbar-nav .nav-item .nav-link , .container-fluid .navbar-brand {
    color: #fff ;
}

.navbar{
    padding: 0 !important;
}

/*NAV BAR SECTION ENDS HERE*/

.blur{
    color: #540863 ;
    filter: blur(0.2px);
    transition: scale(1.2);
}

#caption{
    font-size: 25px;
}

#button1{
    color: #fff;
    background-color:#540863 ;
    width: 35%;
    height:50px;
    border-radius: 10px ;
    font-size: 25px;
    border: none;
    text-decoration: none;
    padding: 0.5% 7%;
    }

#button1:hover{
 background-color:  #EBD6FB;
 color: black;
}

#Text2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #540863;
}

#caption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5% 0;
    width: 70%;
}

.containerHome{
    display: flex;
    gap: 150px;
    margin: 0 auto;
    padding: 50px 0;
    margin-top:5%;
    margin-left: 10%;
}


.containerText{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content:25% ;
    padding: 2%;
}

svg{
    width: 90%;
}



/*OBJECTIVE SECTION HERE*/

.svgContainer{
width: 100%;
}

img{
width: 80%;
border-radius: 20px;
margin-left: 5%;
}

#SvgCont{
    width:80%;
    height: 500px;
}

#laptop{
border-radius: 20px;
}



#mainT{
    color: #fff;
}

.BoxCont{
display: flex;
flex-direction: column;
gap: 35px;
margin-bottom: 5%;
}

#box1,#box2,#box3{
background-color: #540863;
opacity: 50%;
border-radius: 15px;
width: 80%;
height: 200px;
padding: 5%;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#box1:hover,#box2:hover,#box3:hover{
  transform: scale(1.04);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.Text{
    color: #fff;
}

.container2{
    display: flex;
    gap: 45px;
}

/*Education SECTION*/

.Boxes{
    width: 90% ;
    background-color: #540863;
    opacity: 50%;
    border-radius: 15px;
    height: 200px;
    padding: 2%;
    padding-bottom: 0.2%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.Boxes:hover{
  transform: scale(1.04);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

#Box2{
    margin-right:5%;
    margin-top: 5%;
    display: flex;
    align-items: end;
}

#containerTE{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.edu{
  width: 40%;
  margin-right: 5%;
  border-radius:20px;
}

/*Projects SECTION*/

 .ProjectBox {
  flex: 0 0 30%; 
  height: 370px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  font-family: sans-serif;
  padding: 1%;
}
 
.Pro1 { 
  display: flex;
  gap: 20px;
  margin: 5% 3%;
  overflow-x: auto;  
  overflow-y: hidden;
  flex-wrap: nowrap;
  scrollbar-color: #540863 #e6e6e6;
}

h6{
  margin-top: 1%;
}


  .projectImg {
    width: 90%;
    height: 180px;
    justify-content: center;
  }

  .Desc {
  padding: 12px;
}

.DescInfo {
  font-size: 15px;
  color: #444;
  margin: 0 0 12px;
}


  .button2 {
    background: #540863;
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }

.button2:hover{
 background-color:  #EBD6FB;
 color: black;
}



/*footer SECTION*/

  .footer {
    background-color:  rgba(84, 8, 99, 0.8);
    color: white;
    text-align: center;
    padding: 11px 10px; 
    font-family: Arial, sans-serif;
    font-size: 15px;
    opacity:90%;
    min-height: 30px;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .footer a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }


.footer-logo{
margin-left:5%;
font-size:18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
letter-spacing: 2px;
filter: blur(0.85px);
}


/*RESPONSIVE SECTION*/
@media  (min-width:680px) and (max-width:1200px) { /*tablet and mini laptops*/
 #caption {
    width: 80%;
    font-size: 18px;
  }

 #blur1{
     font-size: 28px;
  }

  
  #blur2{
     font-size: 25px;
  }

  
  h1 b{
    font-size: 30px;
  }

 #button1{
   font-size: 15px ;
 }

 svg
{
    width: 50%;
}

.containerText{
    width:80%;
}
.containerHome{
    gap: 70px;
   
}
img{
    height: 80vh;
     width: auto;
}

}

@media  (max-width:1165px) {
    .ImgNow , svg.edu{
        display: none;
    }

    .container2{
       align-items: center;
       justify-content: center;
       
    }

    .BoxCont{
        width: 200%;
    }


}
   

@media  (max-width:620px) {
    .Text{
        font-size: 17px;
    }

}




@media (min-width:481px) and (max-width:680px)  {  /*Large Mobile & Big Phones*/
#caption {
    width: 80%;
    font-size: 18px;
  }

 #blur1{
     font-size: 30px;
  }

  
  #blur2{
     font-size: 25px;
  }
 
 #button1{
   font-size: 15px ;
 }

 svg
{
    width: 70%;
    margin-right: 12%;
}

.containerText{
    width:80%;
}
.containerHome{
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}


}

@media (max-width:480px)  { /**Small Mobile*/
#caption {
    width: 100%;
    font-size: 20px;
  }

 #blur1{
     font-size: 20px;
  }

  #blur2{
     font-size: 17px;
  }
 h1 b{
    font-size: 25px;
  }

 #button1{
   font-size: 12px ;
 }

 svg
{
   display: none;
}

.containerText{
    width:80%;
    gap:15px;
}
.containerHome{
    justify-content: center;
}

.Text{
     font-size: 15px;
}


}

